doctype html
// Microdata markup added by Google Structured Data Markup Helper
html(lang="en")
    head
        block script
        title #{pageTitle} - Christ the King Medical Center
        meta(charset='utf-8')
        meta(name='author', content="Dee Adebayo")
        meta(name="geo.region" content="US-GA")
        meta(name="geo.placename" content="Loganville")
        meta(name="geo.position" content="33.82126;-83.876165")
        meta(name="ICBM" content="33.82126, -83.876165")
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='/boomz/css/bootstrap.css', rel='stylesheet', type='text/css')
        link(href='/boomz/css/animate.css', rel='stylesheet', type='text/css')
        link(href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css', rel='stylesheet', type='text/css')
        link(href='/boomz/css/mine.css', rel='stylesheet', type='text/css')
        link(rel="shortcut icon", type="image/x-icon", href="favicon.ico")
        style body {max-width: 100%}
    body
        #wrap(itemscope itemtype="http://schema.org/LocalBusiness")
            .top-bar.hidden-xs.hidden-sm.visible-md.visible-lg
                .nav-container
                    .row
                        .col-md-6.col-lg-6
                            .top-number#displayMoment
                        .col-md-6.col-lg-6
                            .social
                                .search
                                    form(role='form')
                                        // i.fa.fa-search
                                        // input(type='text', class='search-form', autocomplete='off', placeholder='Search')
                                        // | &nbsp; &nbsp; &nbsp; &nbsp;
                                        span.top-number
                                            a.link(href="tel:7705548015")
                                                i.fa.fa-mobile.nounderline
                                                |  Phone: 770 554 8015 &nbsp; &nbsp;
                                            a(href="mailto:info@ctkmedcenter.com?subject=General%20Inquiry", class="link")
                                                i.fa.fa-envelope.nounderline
                                                |  info@ctkmedcenter.com
            nav(class='navbar navbar-inverse', role='banner', id='nav')
                .nav-container
                    .navbar-header
                        button(type='button', class='navbar-toggle', data-toggle='collapse', aria-label='toggle menu', data-target='.navbar-collapse')
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                        a(class='navbar-brand hidden-xs hidden-sm', href='/'): img(itemprop="image" src='/content/hosted_images/Logo-words.png', alt='ctkmc brand logo', class='img-responsive brand-logo' title='ctkmc brand logo')
                        a(class='navbar-brand hidden-md hidden-lg', href='/'): img(src='/content/hosted_images/Logo-words.png', alt='logo', class='img-responsive', title='ctkmc brand logo')
                    .collapse.navbar-collapse.nav-from-right
                        ul.nav.navbar-nav.text-uppercase
                            li(class=(pageTitle === 'Internal Medicine Clinic' ? 'active' : ''))
                                a(href='/'): span.hvr-underline-reveal Home
                            li(class=(pageTitle === 'Our Services' ? 'active' : '') class=(pageTitle === 'Travel Medicine' ? 'active' : '') class=(pageTitle === 'Strawberry Laser Lipo' ? 'active' : '') class=(pageTitle === 'LifeVantage Health Products' ? 'active' : '') class=(pageTitle === 'Allergy Testing' ? 'active' : '') class=(pageTitle === 'Health Screenings' ? 'active' : '') class= 'dropdown')
                                a(class="dropdown-toggle", data-toggle="dropdown", href="#"): span.hvr-underline-reveal.health Our Services&nbsp;
                                    i.fa.fa-angle-right.rotate-nav-icon-health
                                ul.dropdown-menu
                                    li
                                        a(href="/our-services") Medical Services
                                    li
                                        a(href="/health-info/allergy-testing") Allergy Testing
                                    li
                                        a(href="/health-info/health-screening") Health Screenings
                                    li
                                        a(href="/health-info/lifevantage") LifeVantage Products
                                    li
                                        a(href="/health-info/strawberry-laser") Strawberry Laser
                                    li
                                        a(href="/health-info/travel-medicine") Travel Medicine
                            li(class=(pageTitle === 'Frequently Asked Questions' ? 'active' : '') class=(pageTitle === 'Forms and Records' ? 'active' : '') class=(pageTitle === 'Insurance & Billing Info' ? 'active' : '') class=(pageTitle === 'New Patients' ? 'active' : '') class=(pageTitle === 'Online Medical Records' ? 'active' : '') class=(pageTitle === 'Release of Medical Information' ? 'active' : ''))
                                a(class="dropdown-toggle", data-toggle="dropdown", href="#"): span.hvr-underline-reveal.pres Patient Resources&nbsp;
                                    i.fa.fa-angle-right.rotate-nav-icon
                                ul.dropdown-menu
                                    li
                                        a(href="/patient-resources/new-patients") Your First Visit
                                    li
                                        a(href="/patient-resources/faqs") FAQs
                                    li
                                        a(href="/patient-resources/forms-and-records") Forms & Records
                                    li
                                        a(href="/patient-resources/insurance-info") Insurance & Billing
                                    li
                                        a(href="/patient-resources/release-of-medical-info") Release of Medical Info
                                    li
                                        a(href="/patient-resources/online-medical-records") Online Medical Records
                            li(class=(pageTitle === 'About Us' ? 'active' : '') class=(pageTitle === 'What to Expect' ? 'active' : '') class=(pageTitle === 'Dr. Constance George-Adebayo' ? 'active' : '') class= 'dropdown')
                                a(class="dropdown-toggle", data-toggle="dropdown", href="#"): span.hvr-underline-reveal.about About&nbsp;
                                    i.fa.fa-angle-right.rotate-nav-icon-about
                                ul.dropdown-menu
                                    li
                                        a(href='/about-us') About Us
                                    li
                                        a(href='/about/our-doctor') Our Doctor
                                    li
                                        a(href='/about/what-to-expect') What to Expect
                            li(class=(pageTitle === 'Contact Us' ? 'active' : ''))
                                a(href='/contact-us.php'): span.hvr-underline-reveal Contact Us
            script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
            block content
            #push
        #toTop.btn.btn-info.hidden-xs(style={display: 'block', fontSize: '.933em'})
            i.fa.fa-arrow-up
            | Top
        section#footer.page-footer
            .container(style={padding: '10px 15px 10px 15px'})
                .row
                    h4.text-center
                        a(class='link', href='/')
                            p Christ the King Medical Center
                .row.footer-row
                    p.text-center.
                        <strong><a href="tel:7705548015" class="link">770-554-8015</a>  |  <a href="/contact-us.php" class="link">Get Directions</a></strong> | <strong><a href="mailto:info@ctkmedcenter.com?subject=General%20Inquiry" class="link"> Email Us</a></strong>
                .row
                    .col-md-4.col-xs-12.text-center
                        p © Copyright Christ the King Healthcare 2015
                    .col-md-4.col-xs-12.text-center
                        p All rights reserved
                    .col-md-4.col-xs-12.text-center
                        p: a.link(href='http://deeadebayo.com/') Website by DA
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
        script(src='/boomz/js/bootstrap.js')
        script(src='/boomz/js/mine.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js')
        script(src='/boomz/js/jquery.fittext.js')
        script.
            $("#fittext1").fitText(1.3, { minFontSize: '44px', maxFontSize: '85px' });
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-69726516-1', 'auto');
            ga('send', 'pageview');
