extends ./templates/layouts/layout.jade
block script
    - var pageTitle = "Our Services";
    meta(name="description" content="Learn more about all the internal medicine and medical services we offer at Christ the King Medical Center")
block content
    .fluid-container.page-title-outer-box
        .page-title-box
            h1.page-title#fittext1 Our
                span.emphasize-this  services
            h4.page-title-tagline Learn more about the services we offer
    br
    br
    .container
        .row
            p.as-para-intro Here at Christ the King Medical Center, we take a comprehensive approach to the prevention, diagnosis, and treatment of diseases in adults. We're available to assist you with anything from  routine physical exams to more complicated illnesses. By building a relationship with you, we hope to gain an extended understanding of your health history. Our services are directed towards any member of the family, aged 15 and up.
        br
        .row
            p.as-para-intro These services include but are not limited to:
            br
            small *click on the service listed for more information about it
        .row
            div(class="col-md-4 col-xs-12", style={margin: "0 0 1.5em 0"})
                .service-table
                    .service-header
                        h3.as-heading-medium-center.text-center Prevention
                    .services
                        .service
                            p Blood pressure management
                        .service-description
                            p High blood pressure (HBP) can be treated with lifestyle changes or medicine. Most people who have HBP will need lifelong treatment. Sticking to your treatment plan is important. It can help prevent or delay problems related to HBP and help you live and stay active longer.
                    .services
                        .service
                            p Immunizations and vaccinations
                        .service-description
                            p Shots may hurt a little, but the diseases they can prevent are a lot worse. Some are even life-threatening. Immunization shots, or vaccinations, are essential. They protect against things like measles, mumps, rubella, hepatitis B, polio, diphtheria, tetanus, and pertussis (whooping cough). Vaccines contain germs that have been killed or weakened. When given to a healthy person, the vaccine triggers the immune system to respond and thus build immunity.
                    .services
                        .service
                            p Pap smears
                        .service-description
                            p A Pap test is a test of a sample of cells taken from a woman's cervix or vagina. The test is used to look for changes in the cells of the cervix and vagina that show cancer or conditions that may develop into cancer.
                            p It is the best tool to detect precancerous conditions and hidden, small tumors that may lead to cervical cancer. If detected early, cervical cancer can be cured.
                    .services
                        .service
                            p Physical examination
                        .service-description
                            p A physical examination helps your doctor determine the general status of your health. It is also gives you a chance to talk to them about ongoing pain or symptoms that you are experiencing, or any other health concerns you might have. The examination is recommended at least once a year, especially in people over the age of 50.
                    .services
                        .service
                            p Urinalysis
                        .service-description
                            p A urine test checks different components of urine, a waste product made by the kidneys. A regular urine test may be done to help find the cause of symptoms. The test can give information about your health and problems you may have.
            div(class="col-md-4 col-xs-12", style={margin: "0 0 1.5em 0"})
                .service-table
                    .service-row
                        h3.as-heading-medium-center.text-center Diagnosis
                    .services
                        .service
                            p Allergy testing
                        .service-description
                            p Could you have an outdoor allergy to something like pollen or mold? You may need skin testing to be sure. Skin tests are a simple, easy way to show what's triggering your stuffy nose and cough. Once you know what your allergic triggers are, you can protect yourself and control your symptoms.
                    .services
                        .service
                            p Blood testing
                        .service-description
                            p A blood test measures the levels of several substances in the blood (such as electrolytes). This tells your doctor about your general health, helps look for certain problems, and finds out whether treatment for a specific problem is working. Some tests look at more substances in the blood than others do.The type of test you have done depends on what information your doctor is looking for.
                    .services
                        .service
                            p Echocardiography
                        .service-description
                            p An echocardiogram is a test that uses ultrasound to evaluate your heart muscle and heart valves. Your doctor may perform an echocardiogram to:
                                ul
                                    li Assess the overall function of your heart
                                    li Determine the presence of many types of heart disease
                                    li Follow and evaluate the effectiveness of medical treatments
                    .services
                        .service
                            p EKGs (electrocardiograms and ECGs)
                        .service-description
                            p An electrocardiogram (also called EKG or ECG) is a test that records the electrical activity of your heart through small electrode patches attached to the skin of your chest, arms, and legs. An EKG may be part of a routine physical exam or it may be used as a test for heart disease. An EKG can be used to further investigate symptoms related to heart problems.
                            p EKGs are quick, safe, painless, and inexpensive tests that are routinely performed if a heart condition is suspected.
                    .services
                        .service
                            p Spirometry
                        .service-description
                            p Spirometry is the best test to assess lung function. It often is used to evaluate a person who has a chronic cough and sputum (mucus) production and a history of risk factors for chronic obstructive pulmonary disease (COPD), even if shortness of breath is not present. It is also used to find out whether a specific therapy has improved lung function or whether your lung disease is getting worse.
            div(class="col-md-4 col-xs-12", style={margin: "0 0 1.5em 0"})
                .service-table
                    .service-row
                        h3.as-heading-medium-center.text-center Treatment
                    .services
                        .service
                            p Abcess incision and drainage
                        .service-description
                            p An abscess is a tender mass generally surrounded by a colored area from pink to deep red. Painful and warm to touch, abscesses can show up any place on your body. Inflammation around a hair follicle can also lead to the formation of an abscess, which is called a boil (furuncle).
                            p Unlike other infections, antibiotics alone will not usually cure an abscess. In general an abscess must open and drain in order for it to improve. Sometimes draining occurs on its own, but generally it must be opened by a doctor in a procedure called incision and drainage.
                    .services
                        .service
                            p Allergy shots and treatment
                        .service-description
                            p Allergy shots help your body get used to allergens, the things that trigger an allergic reaction. They don’t cure allergies, but eventually your symptoms will get better and you may not have allergic reactions as often. Allergy shots, also called "immunotherapy," may work for you if allergy drugs don’t work well or you have symptoms more than three months a year.
                    .services
                        .service
                            p Diabetes management
                        .service-description
                            p Diabetes is managed by keeping the blood sugar under control and as close to normal as possible. Dealing with diabetes can be very complicated, and the doctor needs to have as much information as possible to help you establish an effective management plan. This plan can include anything from lifestyle modifications to dietary changes.
                    .services
                        .service
                            p Nebulizer treatment
                        .service-description
                            p You may receive medicine through a nebulizer treatment, also called a breathing treatment or aerosol treatment. A nebulizer changes liquid medicine into a fine mist to let you breathe it into your airways. Most often the breathing treatments are given to help you breathe easier. How often you have a treatment depends on how short of breath you are, the amount of wheezing you have and the type of medicine you take.
                    .services
                        .service
                            p Weight maintenance
                        .service-description
                            p In addition to helping you feel and look better, reaching a healthier body weight is good for your overall health and well being. If you are overweight or obese, you have a greater risk of developing many diseases including type 2 diabetes, heart disease, and some types of cancer. The secret to success is making changes and sticking with them. With your doctor, you can learn which changes you can make to have a lasting impact on your body weight.
        br
        br
        .row
            p.as-para-intro We also have an extensive experience with patients having the following conditions:
        .row
            .col-md-4
                li Allergic rhinitis
                li Anemia
                li Anxiety
                li Arthritis
                li Asthma
                li Congestive heart failure
                li COPD (chronic obstructive pulmonary disease)
            .col-md-4
                li Depression
                li Dermatitis
                li Diabetes
                li Emphysema
                li Heart disease
                li High Cholesterol
                li Hives
            .col-md-4
                li Hyperlipidemia
                li Hypertension
                li Obesity
                li Osteoporosis
                li Sleep Apnea
                li Syncope
        br
        br
        .row
            p By no means are these lists fully comprehensive. If you have any specific questions about our medical services or wish to
                a(href="appointment" class="link")  schedule an appointment
                | , feel free to give us a call at
                a(href="tel:7705548015" class="link")  770.554.8015
                | . Walk-ins during
                a(href="contact-us.php#info" class="link")  office hours
                |  are also accepted.
        br
        br
        .row
            div(class="col-md-6", id="travel-medicine", style={margin: "0 0 1.5em 0"})
                a(href="health-info/travel-medicine", class="link")
                    button(type="button", class="btn btn-default btn-block travel-medicine-button-image about-button-hvr-glow")
                        br
                        h1(class="as-heading-headline", style={color: "#fff"}) Travel Medicine
                        br
            div(class="col-md-6" id="strawberry-laser", style={margin: "0 0 1.5em 0"})
                a(href="health-info/strawberry-laser", class="link")
                    button(type="button", class="btn btn-default btn-block strawberry-laser-button-image about-button-hvr-glow")
                        br
                        h1(class="as-heading-headline", style={opacity:"0"}) Strawberry Laser
                        br
    br
    br
