extends ../templates/layouts/layout.jade
block script
    - var pageTitle = "Health Screenings";
    meta(name="description" content="Health screenings enable you to find out if you have a particular disease or condition even if you do not have any symptoms and/or signs of disease.")
block content
    .fluid-container.page-title-outer-box
        .page-title-box
            h1.page-title#fittext1 Health
                span.emphasize-this  screenings
            h4.page-title-tagline Getting screened is one of the most important things you can do for your health
    br
    br
    br
    br
    .container
        p.as-para-intro Health screenings enable you to find out if you have a particular disease or condition even if you do not have any symptoms and/or signs of disease. Early detection, followed by treatment and good control of the condition can result in better outcomes and lowers the risk of serious complications. It is therefore important to get yourself screened even if you feel perfectly healthy.
        br
        h3.as-heading-medium What is a health screening?
        p.as-para Health screenings are important to everyone. It involves the use of tests, physical examinations or other procedures to detect disease early in people who look or feel well. This is different from diagnostic tests which are done when someone is already showing signs and/or symptoms of a disease.  Screenings help find diseases early, when they may be easier to treat.
        br
        h3.as-heading-medium Why should I go for one?
        p.as-para Mentioned above, health screenings help you find out if you have a particular disease or condition even if you feel perfectly well. Early detection is key and lowers the risk of serious complications. It's important to get yourself screened even if you feel perfectly healthy.
        br
        h3.as-heading-medium What kind of screening tests should I go for?
        p.as-para It is best to speak to your doctor who will advise you to go for the relevant screening tests based on your individual health profile.
        p.as-para These tests can look for:
        .row
            .col-md-6.col-sm-6
                ul
                    li Diabetes
                    li Certain types of cancer
                    li High blood pressure or high cholesterol
            .col-md-6.col-sm-6
                ul
                    li Osteoporosis (weak bones)
                    li Sexually transmitted diseases (STDs)
                    li Hearing vision loss
        br
        h3.as-heading-medium What about cost?
        p.as-para Depending on your insurance plan, you may be able to get screening tests at no cost to you.
        p.as-para Most insurance plans, including Medicaid and Medicare, will pay for the screening tests your doctor or nurse recommends.
    br
    br
    .container
        p.text-center
            a(href="/appointment")
                button(class="btn btn-lg btn-responsive btn-schedule", role="button") Schedule online today&nbsp;
                    i(class="fa fa-chevron-circle-right", style={color: "white"})
        p.text-center Or call us at
            strong
                a(href="tel:7705548015", class="link")  770-554-8015
    br
    br
