extends ../templates/layouts/layout.jade
block script
    - var pageTitle = "Allergy Testing";
    meta(name="description" content="Allergy testing and sublingual immunotherapy offer patients a safe and effective method to treat the underlying cause of allergies vs. just treating the symptoms!")
block content
    .fluid-container.page-title-outer-box
        .page-title-box
            h1.page-title#fittext1
                span.emphasize-this Allergy
                |  testing
            h4.page-title-tagline Tired of the seasonal suffering?
    br
    br
    br
    br
    .container
        p.as-para-intro Do you suffer from environmental allergies, asthma, or chronic sinusitis?
        h3.as-heading-medium Are you...
        ul
            li constantly taking prescription or over-the-counter medications to relieve allergy symptoms (i.e., runny or stuffy nose, sneezing, itchy nose, sniffling, sore or itchy throat, red, itchy or watery eyes, wheezing or coughing, itchy skin, rash or hives)?
            li feeling less productive because of your allergies?
            li tolerating time-consuming, inconvenient and PAINFUL allergy shots?
        ul
        br
        p.as-para If you answered “yes” to any of these questions, you now have another option. Allergy testing and sublingual immunotherapy offer patients a safe and effective method to treat the underlying cause of allergies vs. just treating the symptoms!
        br
        p.as-para Many patients assume they have allergies because they have the “normal” symptoms, but they have never been tested to identify what allergen, if any, could be causing the problem. All they know is during certain times of the year, they get the typical allergy symptoms like a runny nose, watery eyes and congestion. But, there are lesser known symptoms allergy sufferers may not even know about.
        br
        p.as-para Ailments like chronic sinus infections, strep throat, asthma, eye infections, nasal polyps, chronic ear infections and migraine headaches could also be signs of allergies. Even common skin ailments like hives and eczema, which are typically treated as chronic illnesses, could be allergy driven.
        br
        p.as-para-intro
            a(href="tel:7705548015", class="link") Call
            |  or schedule an appointment today to see what options you have to treat your allergies.
    br
    br
    .container
        p.text-center
            a(href="/appointment")
                button(class="btn btn-lg btn-responsive btn-schedule" role="button") Schedule online today &nbsp;
                    i(class="fa fa-chevron-circle-right", style={color: "white"})
        p.text-center Or call us at
            strong
                a(href="tel:7705548015" class="link")  770-554-8015
    br
    br
