extends ../templates/layouts/layout.jade
block script
    - var pageTitle = "Travel Medicine";
    meta(name="description" content="Get your travel vaccinations and immunizations at Christ the King Medical Center")
block content
    .fluid-container.page-title-outer-box
        .page-title-box
            h1.page-title#fittext1
                span.emphasize-this Travel medicine
            h4.page-title-tagline Packed and ready for your next trip abroad?
    br
    br
    br
    br
    .container
        p.as-para-intro Traveling is a wonderful experience, but it requires preparations. To stay healthy away from home, a trip to a travel medicine clinic is as important as insuring your passport and entry visas are in order.
        h3.as-heading-medium Travel Health
        p.as-para At our clinic, we are familiar with the health concerns in each country you intend to visit:
        ul
            li We can recommend any vaccines you may need before the trip and administer them at the center.
            li We offer preventive and other travel health assurance needs.
        br
        p.as-para Furthermore, we keep up with the latest alerts and advisories that are issued by both the Centers for Disease Control and Prevention (CDC) and the World Health Organization (WHO).
        ul
            li Information from the WHO and CDC helps us learn about disease outbreaks that are happening around the globe; we also learn about new studies discussing prevention and treatment of diseases that are of concern to travelers.
            li These updates help us customize safety and health care recommendations on a case and destination basis.
            //
                li We get regular updates about issues such as drug resistance of disease-causing organisms, which in turn helps us customize the best current preventive treatments for any area of the globe.
        br
        h3.as-heading-medium Consider the following:
        p.as-para So that medications do not counteract (interact badly with) each other or render each other ineffective, we will be able to integrate required travel medicine regimens with your current medical regimen. A visit to our travel clinic should take place at least 6 to 8 weeks prior to your departure, but even a shorter interval can benefit you.
        br
        p.as-para The Centers for Disease Control (CDC) makes recommendations for the safety of U.S. travelers on immunizations, medications, insect repellents, and other medical concerns specific to the region of travel. CDC recommendations are often different than country entry requirements, which are imposed by the country, for the safety of their citizens. Current recommendations can be viewed on the CDC website:
            a(href="http://wwwnc.cdc.gov/travel/", class="link-underline", target="_blank")  wwwnc.cdc.gov/travel
            | .
    br
    br
    .container
        p.text-center
            a(href="/appointment")
                button(class="btn btn-lg btn-responsive btn-schedule", role="button") Schedule online today&nbsp;
                    i(class="fa fa-chevron-circle-right", style={color: "white"})
        p.text-center Or call us at
            strong
                a(href="tel:7705548015", class="link")  770-554-8015
    br
    br
