extends ../templates/layouts/layout.jade
block script
    - var pageTitle = "What to Expect";
    meta(name="description" content="Welcome to our clinic. We thank you for entrusting us with your healthcare needs and we look forward to meeting you and providing the best care possible. Here are a few things we pride ourselves on that you should expect on your visit.")
block content
    .fluid-container.page-title-outer-box-wte
        .page-title-box
            h1.page-title#fittext1 What to
                span.emphasize-this  expect
            h4.page-title-tagline Welcome to Christ the King Medical Center
    br
    br
    .container
        p.as-para-intro Welcome to our clinic. We thank you for entrusting us with your healthcare needs and we look forward to meeting you and providing the best care possible. Here are a few things we pride ourselves on that you should expect on your visit.
        br
        h3.as-heading-medium Keeping You on a Healthy Track
        p.as-para The major role of a primary care physician is making sure you get the right preventive care, such as immunizations and screening tests. Our most important job is helping our patients do what they need to do in their everyday life to protect their own health.
        br
        h3.as-heading-medium A Focus on Communication
        p.as-para We put a strong emphasis on collaboration and communication between our staff and patients so that your medical experience is easier. This is because we believe a patient encounter shouldn't be a rush to the finish. At CTKMC, we realize that the doctor-patient relationship is a two-way communication channel. Surveys show that patients who feel they’ve been included in this decision making are more satisfied with their care; more likely to adhere to their treatment; and more likely to take better care of themselves. To provide the care you want, we will spend the few extra minutes to explain something when you do not fully understand and listen when there is a complex series of symptoms.
        br
        h3.as-heading-medium Revolutionizing Your Medical Experience
        p.as-para We use an electronic health record system that allows us quick access to your health history and past visit information. Most recently, we began allowing patients to access their own health records. This enables you to view your test results, medications, and your overall health history so that your communication with your doctor will be well-informed.
        br
        br
        br
