extends ../templates/layouts/layout.jade
block script
    - var pageTitle = "New Patients";
    meta(name="description" content="Preparing our new patients for their first visit to Christ the King Medical Center in Loganville, Georgia.")
block content
    .fluid-container.page-title-outer-box
        .page-title-box
            h1.page-title#fittext1 Your
                span.emphasize-this  first visit
            h4.page-title-tagline Preparing for your doctor's appointment
    br
    br
    .container
        section#intro
            h3.as-heading-headline#fittext2 Let's make your visit to the doctor as pleasant as possible
            p.as-para-intro At CTKMC, our main goal is to make your visit and treatment as relaxed as possible while providing you with high quality, compassionate medical care. We understand that visiting the doctor can be stressful, but planning ahead can help relieve some of that anxiety.
        br
        section
            h3.as-heading-medium Pre-Visit Checklist
            p.as-para There's just a few things you can do prior to your appointment to help us keep up on your health and for you to get the most out of your visit. Please consider this short "to do" list:
            .anchor#checklist
            h5.small-header Make sure to bring these key items:
                br
                ul.fa-ul
                    li
                        i.fa.fa-check-circle-o
                            p(class="as-para", style={display:'inline-block'}) a valid photo id
                    li
                        i.fa.fa-check-circle-o
                            p(class="as-para", style={display:'inline-block'}) your insurance card
                    li
                        i.fa.fa-check-circle-o
                            p(class="as-para", style={display:'inline-block'}) copies of records from doctors related to your visit with us
            br
            h5.small-header Make a list of your health questions & concerns:
            p.as-para If you write down a list of your health questions or concerns, it will help both you and the doctor plan your visit. In addition, it will minimize the chance of forgetting important medical concerns and ensuring there is adequate time to fully address them.
                // payment for your co-pay or any non-covered services
            br
            h5.small-header Bring a friend or a family member:
            p.as-para If you are worried, bring a second set of ears. Your concerned friend or relative will help you remember what was discussed.
            br
            h5.small-header Bring a list of your current medications:
            p.as-para You can also just bring in your medication bottles. At almost every visit, the doctor will talk with you about your medications. Making sure everyone has a common understand about what you are taking is essential to providing you with high quality care.
            br
            p.as-para Thank you for considering these ideas prior to your doctor's appointment. To put you at ease before you come to the office, we suggest you read over our&nbsp;
                a(href="/about/what-to-expect", class="link-underline") What to Expect
                |  page, where we explain the experience you should expect from us. We look forward to seeing you soon.
        br
        section#getting-here
            h3.as-heading-medium Getting Here: Directions
            p.as-para We are located in the Lakeside Commons Office Park. The Park is off the intersection of Highway 81 and Highway 78, shortly after you see Meridian Park (a dead giveaway is the big lake). When you enter the Office Park, you'll see our office at the furthest back right. Click&nbsp;
                a(href="/contact-us.php#reference-map", class="link-underline") here to view a reference map.
        br
        section#payment-info
            h3.as-heading-medium Payment Information
            p.as-para Depending on how much your procedure is, bring payment to cover your co-pay or any non-covered services. For your convenience, we take cash, check, VISA, MasterCard, and Discover.
        br
        section#insurance-info
            h3.as-heading-medium Insurance Information
            p.as-para We accept all major insurance plans. For a complete list of the insurance plans we accepts please visit our&nbsp;
                a(href="insurance-info", class="link-underline") Insurance Information Page
                | . For more information, call and speak to us at&nbsp;
                a(href="tel:7705548015", class="link") (770) 554-8015
                | .
    br
    br
    br
    script.
        $("#fittext2").fitText(1.3, { minFontSize: '30px', maxFontSize: '39px' });
