extends ../templates/layouts/layout.jade
block script
    - var pageTitle = "Online Medical Records";
    meta(name="description" content="Christ the King Medical Center offers simple online access to your health records with Practice Fusion.")
block content
    .fluid-container.page-title-outer-box-pr
        .page-title-box
            h1.page-title#fittext1 Online
                span.emphasize-this  medical records
            h4.page-title-tagline Keeping track of your medical records
    br
    br
    .container
        .row
            h1.as-heading-headline.text-center Simple, online access to your health records
            .col-md-4.col-xs-12
                br
                .pf-login-area
                    img(src="/content/hosted_images/pf-logo.svg", class="img-responsive")
                    a(href="https://id.patientfusion.com/signin", target="_blank")
                        button.btn.btn-hero.btn-lg.btn-responsive.btn-record Log In
                    a(href="https://www.patientfusion.com/blog/tour-patient-fusion", target="_blank")
                        button.btn.btn-hero.btn-lg.btn-responsive.btn-record Learn More
            br
            .col-md-8.col-xs-12
                p.as-para-intro We have partnered with Practice Fusion to give you access to all your health records currently on file at our location.
                p.as-para-intro Remember when banks started offering online banking? Before, we used to call the bank for everything. But now, millions of people choose to manage their bank account online.
                p.as-para-intro Your online patient portal is like an online bank account for all your health information.
        hr
        .row
            .col-md-6.col-md-offset-3.text-center
                i.fa.fa-desktop.fa-3x.nounderline &nbsp;
                i.fa.fa-mobile.fa-3x.nounderline &nbsp;
                i.fa.fa-tablet.fa-3x.nounderline &nbsp;
                h1.as-heading-headline-smaller.text-center Convenient Access
                p.as-para One login to manage all your health data in one place from any device.
                i.fa.fa-magic.fa-3x.nounderline
                h1.as-heading-headline-smaller.text-center Simple Interface
                p.as-para The web interface makes it easy to find what you’re looking for.
                i.fa.fa-pencil-square-o.fa-3x.nounderline
                h1.as-heading-headline-smaller.text-center Control Your Information
                p.as-para Need to update your address or phone number? Patient Fusion makes it easy.
                i.fa.fa-lock.fa-3x.nounderline
                h1.as-heading-headline-smaller.text-center Private and Secure
                p.as-para Our system is safe – your information is covered by the same HIPAA safeguards we use at our office.
        br
        .row
            .col-md-12.record-picbox
                .col-md-7.medical-laptop
                    br
                    .col-md-6.hidden-medical-laptop
                        h1.as-heading-headline-smaller Keep track of:
                        h3.as-heading-medium Test Results
                        p.as-para Review all your lab and diagnostic text results at your convenience
                        h3.as-heading-medium Vital Signs
                        p.as-para Keep track of your vital signs (from each visit) over time &#8209; including weight and blood pressure.
                        h3.as-heading-medium Current Information
                        p.as-para Find a list of your medications, present immunizations, allergies, and care plans.
                .col-md-5
                    .col-md-8.col-md-offset-2
                        h1.as-heading-headline-smaller Keep track of:
                        h3.as-heading-medium Test Results
                        p.as-para Review all your lab and diagnostic text results at your convenience
                        h3.as-heading-medium Vital Signs
                        p.as-para Keep track of your vital signs (from each visit) over time &#8209; including weight and blood pressure.
                        h3.as-heading-medium Current Information
                        p.as-para Find a list of your medications, present immunizations, allergies, and care plans.
    br
    br
    .page-title-box-less-pad.fluid-container
        .container
            .col-md-6.col-md-offset-3
                img(src="/content/hosted_images/pf-logo.svg", class="img-responsive text-center pf-logo")
                a(href="https://id.patientfusion.com/signin", target="_blank")
                    button.btn.btn-hero.btn-lg.btn-responsive.btn-record Log In
                br
                a(href="https://www.patientfusion.com/blog/tour-patient-fusion", target="_blank")
                    button.btn.btn-hero.btn-lg.btn-responsive.btn-record Learn More
                br
                h3.as-heading-medium-center.text-center Questions?
                h1.as-heading-headline-smaller
                    a(class="link", href="tel:7705548015") Call (770) 554-8015
                p.as-para-intro or email&nbsp;
                    a(href="mailto:info@ctkmedcenter.com?subject=Patient%20Health%20Records", class="link") info@ctkmedcenter.com
