extends ../templates/layouts/layout.jade
block script
    - var pageTitle = "Dr. Constance George-Adebayo";
    meta(name="description" content="Dr. Constance George-Adebayo is a member of the American Board of Internal Medicine. She is also a fellow of the American College of Physicians and has been practicing medicine for over 20 years.")
block content
    .fluid-container.page-title-outer-box
        .page-title-box
            h1.page-title#fittext1 Your
                span.emphasize-this  doctor
            h4.page-title-tagline Constance George-Adebayo, MD, FACP
    br
    br
    .container
        br
        h3.text-center.as-heading-headline Providing You Healthcare With Compassion and Kindness
        br
        .row
            .col-md-5.col-sm-5.col-xs-5
                br
                img(class="img-responsive", src="/content/hosted_images/doctor-portrait.jpg", alt="Dr. Constance George-Adebayo")
            .col-sm-6.col-sm-offset-1.col-md-6.col-md-offset-1
                br
                p.as-para The choice of your primary care physician is one of the most important decisions you can make and it is imperative that you research their qualifications before you come to a decision.
                br
                p.as-para Choosing to specialize in Internal Medicine allows physicians to have the broadest role. It is a specialty that is all encompassing and the cornerstone of medical practice. It is continually evolving due to diverse advancements in research. It also allows a doctor to see the entire family, ranging from older children to adults. The American Board of Internal Medicine deals with the administration of internal medicine in this country. The American College of Physicians promotes the continuing of medical education for the internist. The goal of the organization is to enhance the quality and effectiveness of health care by fostering excellence and professionalism in the practice of medicine. Only fully qualified practitioners are eligible to become members of these organizations.
                br
                p.as-para Dr. Constance George-Adebayo is a member of the American Board of Internal Medicine. She is also a fellow of the American College of Physicians and has been practicing medicine for over 20 years. She did her medical training at University of Ibadan Medical School, West Africa’s premier university; qualifying as a doctor in 1986, before going on to study internal medicine. Her work at Christ the King Medical Center comes from a background with a strong emphasis on the safety and efficacy of treatments along with a philosophy of providing care with compassion and kindness.
                br
    div(class="full-container", style="background-color: #eeeded")
        blockquote.blockswag
            p "I became a physician in order to make a meaningful contribution to society. It is my desire to make a significant impact on my patients, as well as their families. My goal is to meet not only the physical needs of my patients but their spiritual and emotional needs as well. The community of Walton County is paramount to me. I was welcomed with open arms into such a tight knit community, and my patients have become like an extended family to me. By practicing medicine here, I wish to impact the community with my multicultural experience.
            footer.quote-cite Dr. Constance George-Adebayo
    br
    br
    .container
        h3.text-uppercase.small-header.doctor-list-title Recognitions
        dl.dl-horizontal
            dt Profiles/feedback
                dd
                    a(href="http://www.healthgrades.com/physician/dr-constance-george-adebayo-xwtm9", class="link", target="_blank") Healthgrades Recognized
                //
                    ul(style={list-style-type:"none"})
                        i(class="fa fa-arrow-right", style={display:"inline"})
                        li(style={display:"inline"}) Healthgrades identifies leading doctos who are board certified in the specialty the practice, have never had their license restricted or revoked, have no malpractice claims, and are free of state of federal disciplinary actions
                dd
                    a(href="https://www.patientfusion.com/doctor/constance-george-adebayo-md-08677", class="link", target="_blank", title="View Dr. George-Adebayo's profile on PF") Patient Fusion Online Profile
            br
            dt Awards
                dd
                    .row
                        .colspan12-3
                            .award
                                img(class="img-responsive", style={padding: "24% 0 24% 0"}, src="/content/hosted_images/Americas-Top-2011-new.png", alt="America's Top Doctors 2011")
                                small America's Top Physicians - 2011
                        .colspan12-3
                            .award
                                img(class="img-responsive award-radius", src="/content/hosted_images/Americas-Top-2012-new.jpg", alt="America's Top Doctors 2012")
                                small America's Top Physicians - 2012
                        .colspan12-3
                            .award
                                img(class="img-responsive award-radius", src="/content/hosted_images/Americas-Top-2013-new.jpg", alt="America's Top Doctors 2013")
                                small America's Top Physicians - 2013
                        .colspan12-3.text-center
                            .award-last
                                img(class="img-responsive award-radius", src="/content/hosted_images/ACP-5-Year-new.jpg", alt="ACP 5 Year Member")
                                small ACP - 5 Year Member
        br
        h3.text-uppercase.small-header.doctor-list-title Professional Credentials and Education
        dl.dl-horizontal
            dt Board Certification
                dd Internal Medicine, American Board of Internal Medicine - 2007
            dt Residency
                dd Internal Medicine - Morehouse School of Medicine (Atlanta, GA) - 2006
            dt Internship
                dd Internal Medicine - Morehouse School of Medicine (Atlanta, GA) - 2004
            dt Medical School
                dd University of Ibadan, College of Medicine (Ibadan, Nigeria) - 1986
        br
        h3.text-uppercase.small-header.doctor-list-title Hospital Affliations
        dl.dl-horizontal
            dt Lawrenceville, GA
                dd Gwinnett Medical Center
            dt Monroe, GA
                dd Clearview Regional Medical Hospital
            dt Snellville, GA
                dd Eastside Medical Center
    br
    br
    br
