extends ../templates/layouts/layout.jade
block script
    - var pageTitle = "Strawberry Laser Lipo";
    meta(name="description" content="Do you have inches to lose? Want to fit into a smaller dress size quickly without a starving yourself or taking drastic surgery measures? If you answered yes to any of these, then Strawberry Lipo Laser is the right choice for you!")
block content
    .fluid-container.page-title-outer-box-sl
        .page-title-box
            h1.page-title#fittext1 Strawberry
                span.emphasize-this  Laser Lipo
            h4.page-title-tagline Looking good is feeling good
    br
    br
    .container
        h1.grand-hotel-font.text-center
            span.emphasize-this
                u Coming Soon
                img(src="/content/hosted_images/Strawberry_Cream_logo_cut_out-copy.png" alt="strawberry laser")
        h1.as-heading-headline.text-center A non-invasive procedure that provides non-surgical inch-loss!
        br
        p.as-para-intro We are very excited to announce that we will soon be using the Strawberry Lipo Laser system at Christ the King Medical Center! We are the only clinic offering this service in the Greater Walton area and we can’t wait for you to stop in and try it.
        br
        .row.text-center
            .col-md-4
                img(src="/content/hosted_images/xclient-lila.png", class="strawberry-laser-icons")
                p.as-para Non-invasive, painless, permanent inch loss
            .col-md-4
                img(src="/content/hosted_images/xclient-treatment-time.png", class="strawberry-laser-icons")
                p.as-para 10-minute treatment time per desired area</p>
            .col-md-4
                img(src="/content/hosted_images/xclient-halfthetime.png", class="strawberry-laser-icons")
                p.as-para Reduces inches in half the time of other systems
        h3.as-heading-medium How will I know if I am a good candidate for Strawberry Lipo Laser?
        p.as-para Do you have inches to lose? Want to fit into a smaller dress size quickly without a starving yourself or taking drastic surgery measures? If you answered yes to any of these, then Strawberry Lipo Laser is the right choice for you!
        h3.as-heading-medium How does it work?
        p.as-para The Strawberry Lipo Laser system uses cold lasers to penetrate your fat cells, creating pores in the cells and causing them to drain themselves of fat and water. The fluids then enter your lymphatic system and are flushed from your system in the same manner in which fatty foods are digested.
        h3.as-heading-medium Does it hurt?
        p.as-para No way! The Strawberry Lipo Laser system is completely pain free and non-invasive.
        p.as-para
            a(class="link", data-toggle="modal", data-target="#theDoctors", data-theVideo="https://www.youtube.com/embed/vq7zOhDNw8Q")
                u Watch as The Doctors TV Show discusses and demos the procedure
        h3.as-heading-medium How long does it take to see results
        p.as-para The average patient can expect to lose 2 inches with each visit, and the procedures only take 20 minutes! We can hardly believe the results our patients are getting, and in such a short amount of time
        p.as-para
            a(class="link", data-toggle="modal", data-target="#rachelRay", data-theVideo="https://www.youtube.com/embed/MTdpHZN29qg")
                u Check out the video below to see it in action on the Rachel Ray show.
        // this is the modal
        div(class="modal fade", id="rachelRay", tabindex="-1", role="dialog", aria-labelledby="Rachel Ray Demo", aria-hidden="true", style={inline:"left"})
            .modal-dialog
                .modal-content
                    // Header
                    .modal-header
                        button(type="button", class="close", data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close
                        h4(class="modal-title", id="myModalLabel") Strawberry Laser On Rachel Ray
                    // Body
                    div(class="modal-body embed-responsive embed-responsive-16by9", id="yt-player")
                        iframe(class="embed-responsive-item" src="https://www.youtube.com/embed/MTdpHZN29qg")
                    // Footer
                    .modal-footer
                        button(type="button", class="btn btn-default", data-dismiss="modal") Close
        div(class="modal fade", id="theDoctors", tabindex="-1", role="dialog", aria-labelledby="The Doctors Demo", aria-hidden="true", style={inline:"left"})
            .modal-dialog
                .modal-content
                    // Header
                    .modal-header
                        button(type="button", class="close", data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close
                        h4(class="modal-title", id="myModalLabel") The Doctors Demo Strawberry Laser
                    // Body
                    div(class="modal-body embed-responsive embed-responsive-16by9", id="yt-player")
                        iframe(class="embed-responsive-item", src="https://www.youtube.com/embed/vq7zOhDNw8Q")
                    // Footer
                    .modal-footer
                        button(type="button", class="btn btn-default", data-dismiss="modal") Close
        h3.as-heading-medium How many times do I need to come back?
        p.as-para The average patient can expect to lose 2 inches with each visit, and the procedures only take 20 minutes! We can hardly believe the results our patients are getting, and in such a short amount of time.
        p.as-para Our office is located in Loganville, Walton County. We offer flexible appointment times, 5 days per week, to suit your schedule.
            a(href="/appointment", class="link")  Schedule an appointment.
        br
        .content
            h4.as-smallest-header Be notified when we start accepting patients for the Strawberry Laser treatments.
            .subscribe
                p.as-text Join the waiting list by email (below) or give us a call at <a href="tel:7705548015" class="link">(770) 554-8015</a>. We'll inform you when we start taking patients.
                br
                br
                .row.text-center
                    .col-md-12
                        a(data-toggle="modal", data-target="#signUp")
                            button(class="btn btn-danger btn-fill") Click here to be notified by email
        div(class="modal fade", id="signUp", tabindex="-1", role="dialog", aria-labelledby="Sign up for updates", aria-hidden="true", style={inline:"left"})
            .modal-dialog
                .modal-content
                    // Header
                    .modal-header
                        button(type="button", class="close", data-dismiss="modal")
                            span(aria-hidden="true") &times;
                            span.sr-only Close
                        h4(class="modal-title", id="myModalLabel") Sign up to be notified
                    // Body
                    div.modal-body.
                        <!-- Begin MailChimp Signup Form -->
                        <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
                        <style type="text/css">
                            #mc_embed_signup{background:#EEEDED; clear:left; font:16px 'Roboto', sans-serif; }
                            /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                        </style>
                        <div id="mc_embed_signup">
                        <form action="//ctkmedcenter.us12.list-manage.com/subscribe/post?u=4b7a619196fd8d4c01455209c&amp;id=252268136c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                        <div class="mc-field-group">
                            <label for="mce-FNAME" class="as-para-intro">First Name </label>
                            <input type="text" value="" name="FNAME" class="" id="mce-FNAME">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-LNAME" class="as-para-intro">Last Name </label>
                            <input type="text" value="" name="LNAME" class="" id="mce-LNAME">
                        </div>
                        <div class="mc-field-group">
                            <label for="mce-EMAIL" class="as-para-intro">Email Address  <span class="asterisk">*</span>
                        </label>
                            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                        </div>
                        <div class="mc-field-group size1of2">
                            <label for="mce-MMERGE3" class="as-para-intro">Phone Number </label>
                            <div class="phonefield phonefield-us">
                                (<span class="phonearea"><input class="phonepart " pattern="[0-9]*" id="mce-MMERGE3-area" name="MMERGE3[area]" maxlength="3" size="3" value="" type="text"></span>)
                                <span class="phonedetail1"><input class="phonepart " pattern="[0-9]*" id="mce-MMERGE3-detail1" name="MMERGE3[detail1]" maxlength="3" size="3" value="" type="text"></span> -
                                <span class="phonedetail2"><input class="phonepart " pattern="[0-9]*" id="mce-MMERGE3-detail2" name="MMERGE3[detail2]" maxlength="4" size="4" value="" type="text"></span>
                            </div>
                        </div><div class="mc-field-group input-group">
                            <strong class="as-para-intro">Preferred Contact Method? </strong>
                            <ul><li><input type="checkbox" value="1" name="group[209][1]" id="mce-group[209]-209-0"><label for="mce-group[209]-209-0">Telephone</label></li>
                        <li><input type="checkbox" value="2" name="group[209][2]" id="mce-group[209]-209-1"><label for="mce-group[209]-209-1">Email</label></li>
                        </ul>
                        </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_4b7a619196fd8d4c01455209c_252268136c" tabindex="-1" value=""></div>
                            <div class="clear text-center"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color:#FF724A;"></div>
                            </div>
                        </form>
                        </div>
                        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[0]='EMAIL';ftypes[0]='email';fnames[3]='MMERGE3';ftypes[3]='phone';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                        <!--End mc_embed_signup-->
                    // Footer
                    .modal-footer
                        button(type="button", class="btn btn-default", data-dismiss="modal") Close
    br
    br
    script.
        //function to get and autoplay youtube video from datatag:
        function autoPlayYouTubeModal() {
                var trigger = $("body").find('[data-toggle="modal"]');
                trigger.click(function () {
                    var theModal = $(this).data("target"),
                        videoSRC = $(this).attr("data-theVideo"),
                        videoSRCauto = videoSRC + "?autoplay=1";
                    $(theModal + ' iframe').attr('src', videoSRCauto);
                    $(theModal + ' button.close').click(function () {
                        $(theModal + ' iframe').attr('src', videoSRC);
                    });
                });
            }
            //the function call:

        $(document).ready(function () {
            autoPlayYouTubeModal();
        });

        function callPlayer(func, args) {
            var iframes = document.getElementsByTagName('iframe');
            for (var i = 0; i < iframes.length; ++i) {
                if (iframes[i]) {
                    var src = iframes[i].getAttribute('src');
                    if (src) {
                        if (src.indexOf('youtube.com/embed') != -1) {
                            iframes[i].contentWindow.postMessage(JSON.stringify({
                                'event': 'command',
                                'func': func,
                                'args': args || []
                            }), "*");
                        }
                    }
                }
            }
        }
        $('#theDoctors').on('hidden.bs.modal', function () {
            $('#theDoctors iframe').removeAttr('src');
        })
        $('#rachelRay').on('hidden.bs.modal', function () {
            $('#rachelRay iframe').removeAttr('src');
        })
