---
import Welcome from "../components/Welcome.astro";
import Layout from "../layouts/Layout.astro";

const pageTitle:string = "Homepage";
const description:string = "Homepage";

---

<Layout>
  <Welcome />
  <h1>Index page</h1>
</Layout>
