---
const { pathname, pageTitle } = Astro.props;
---

<header class="global-header">
  {pathname}
  <div class="navLinks">
    <a href="/about">About</a>
    <a href="/another">Another</a>
    <a href="/another2">ANother2</a>
    <a href="/another3">Another3</a>
  </div>
</header>
