extends ../templates/layouts/layout.jade
block script
    - var pageTitle = "Forms and Records";
    meta(name="description" content="Christ the King Medical Center patients' forms.")
block content
    .fluid-container.page-title-outer-box-pr
        .page-title-box
            h1.page-title#fittext1
                span.emphasize-this Forms
                |  &
                span.emphasize-this  records
            h4.page-title-tagline These are our most frequently used forms - select the appropriate form you need
    br
    br
    .container
        .row
            h3.as-heading-medium New patients
            p.as-para If you have scheduled an appointment, plan on arriving 15 minutes prior to your scheduled visit time to finalize your registration. You will need to complete several forms prior to your appointment. To save time, you may print and fill these out in the comfort and privacy of your home. Please be sure to bring the completed forms as well the items listed&nbsp;
                a(href="new-patients#checklist", class="link") here
                |  for your  first appointment.
            br
            h3.as-heading-medium Current patients
            p.as-para Use these forms to obtain additional copies of forms/logs you may have recieved at the office. You may also acquire forms/logs on this page if you are not able to visit the office.
        br
        .row
            .col-md-4
                h3.text-uppercase.text-center.as-heading-medium-center Medical Records Release
                .row
                    ul.fa-ul.form-items
                        a(href="/content/patient_files/authorization-of-information-release.pdf", class="hvr-fade-forms", target="_blank")
                            li
                                i.fa.fa-file-pdf-o.fa-2x.form-records
                                |  Authorization of Information Release
                        a(href="/content/patient_files/permission-to-verbally-discuss-protected-health-information.pdf", class="hvr-fade-forms", target="_blank")
                            li
                                i.fa.fa-file-pdf-o.fa-2x.form-records
                                |  Permission to Discuss Protected Info
            .col-md-4
                h3.text-uppercase.text-center.as-heading-medium-center New Patients
                .row
                    ul.fa-ul.form-items
                        a(href="/content/patient_files/new-patient-registration.pdf", class="hvr-fade-forms", target="_blank")
                            li
                                i.fa.fa-file-pdf-o.fa-2x.form-records
                                |  New Patient Registration
                        a(href="/content/patient_files/demographic-next-of-kin.pdf", class="hvr-fade-forms", target="_blank")
                            li
                                i.fa.fa-file-pdf-o.fa-2x.form-records
                                |  Demographics & Next of Kin
            .col-md-4
                h3.text-uppercase.text-center.as-heading-medium-center Activity Logs
                .row
                    ul.fa-ul.form-items
                        a(href="/content/patient_files/patient-blood-pressure-log.pdf", class="hvr-fade-forms", target="_blank")
                            li
                                i.fa.fa-file-pdf-o.fa-2x.form-records
                                |  Blood Pressure Log
                        a(href="/content/patient_files/patient-blood-sugar-log.pdf", class="hvr-fade-forms", target="_blank")
                            li
                                i.fa.fa-file-pdf-o.fa-2x.form-records
                                |  Blood Sugar Log
                        a(href="/content/patient_files/patient-exercise-log.pdf", class="hvr-fade-forms", target="_blank")
                            li
                                i.fa.fa-file-pdf-o.fa-2x.form-records
                                |  Exercise Log
    br
    br
